<h1>Admin Panel</h1>

<a class="waves-effect waves-light btn" href= "/admin/rewards">Rewards</a>
<a class="waves-effect waves-light btn" href= "/admin/users/new">Add User</a>
<% @users.each do |user| %>
  <div>

    <div class="divider"></div>
    <div class="section">
      <h5><%= link_to user.name, admin_user_path(user) %></h5>
      <p><%= link_to "Edit", edit_admin_user_path(user) %></p>
      <p><%= link_to "Delete", admin_user_path(user), method: :delete %></p>
    </div>

  </div>
<% end %>
